.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# ignore all files and directories in '/data' except help file
data/*/
data/**/*
!data/Help - Put Image Folder Here.txt